<!DOCTYPE html>
<html>
<head>
  <title>Thepivotstudy</title>
  <%= stylesheet_link_tag    "thepivotstudy/application", :media => "all" %>
  <%= javascript_include_tag "thepivotstudy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
